<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <h1>Lista de Produtos</h1>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Descrição</th>
                <th>Valor</th>
                <th>Imagem</th>
            </tr>
        </thead>
        <tbody>
            {% if result %}
            {% for row in result %}
            <tr>
                <th>{{ row['id_produto'] }}</th>
                <td>{{ row['nome'] }}</td>
                <td>{{ row['descricao'] }}</td>
                <td>{{ row['valor'] }}</td>
                <td>
                    <img src="{{ row.foto }}" alt="{{ row.nome }}" width="100">
                </td>
            </tr>
            {% endfor %}
            {% endif %}
        </tbody>
    </table>
</body>

</html>